<html ng-app='angular-bootstrap-slider-test'>
	<head>
		<title>Angular Bootstrap Slider test</title>
		<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" href="bower_components/seiyria-bootstrap-slider/dist/css/bootstrap-slider.css">
	</head>
	<body ng-controller="TestCtrl">

		<div class="col-md-2 col-md-offset-2">
			<slider ng-model="sliders.sliderValue" min="{{testOptions.min}}" step="{{testOptions.step}}" max="{{testOptions.max}}" value="{{testOptions.value}}"></slider>
			{{sliders.sliderValue}}

			<br><br><br><br>

			<span slider ng-model="sliders.secondSliderValue" min="{{testOptions.min}}" max="{{testOptions.max}}"></span>
			{{sliders.secondSliderValue}}
		</div>


		<script src="bower_components/jquery/dist/jquery.js"></script>
		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
		<script src="bower_components/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js"></script>

		<!-- angular-slider include -->
		<script src="slider.js"></script>

		<!-- test file include -->
		<script src="test.js"></script>
	</body>
</html>